section, header {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  section:after, header:after {
    content: " ";
    display: block;
    clear: both; }

section {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.row {
  clear: both; }

.third {
  width: 33.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

.half {
  width: 50%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

.five {
  width: 41.66667%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

.seven {
  width: 58.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

.whole {
  width: 100%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

html, body {
  font-size: 20px;
  line-height: 1.3; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1, .headline {
  font-size: 55px; }

h2, .title {
  font-size: 40px; }

h3, .subtitle {
  font-size: 30px; }

h4, .bodyCopy--large {
  font-size: 24px; }

p, .bodyCopy {
  font-size: 20px;
  margin: 0;
  margin-top: 1rem; }

.note, .caption, .annotation {
  font-size: 18px; }

.caption {
  margin-top: 1rem; }

.annotation {
  margin-bottom: 1rem; }

a {
  font-size: inherit; }

* {
  box-sizing: border-box; }

button {
  display: block;
  max-width: 350px;
  width: 100%;
  padding: 0 16px;
  height: 76px; }

img {
  max-width: 100%;
  display: block; }

input {
  display: block;
  width: 100%;
  height: 58px; }

.postSummaries {
  padding-top: 2rem; }
