doctype html
html
  head
    | {{!-- Document Settings --}}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    | {{!-- Page Meta --}}
    title {{ meta_title }}
    meta(name="description", content="{{meta_description}}")

    | {{!-- Mobile Meta --}}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    | {{!-- Brand icon --}}
    link(rel="shortcut icon", href="{{asset 'favicon.ico'}}")

    | {{!-- Styles'n'Scripts --}}
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Lora")
    link(rel="stylesheet", type="text/css", href="{{ asset 'css/normalize.css' }}")
    link(rel="stylesheet", type="text/css", href="{{asset 'css/main.css'}}")

    | {{!-- Ghost outputs important style and meta data with this tag --}}
    | {{ghost_head}}

  body(class="{{ body_class }}")

    | {{!-- The blog navigation links --}}
    | {{navigation}}

    .site-wrap
      | {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      | {{{body}}}

      | {{!-- The tiny footer at the very bottom --}}

    .outro-cta
      section
        .seven
          h3.white Get weekly insights from RayNa.
          h4 Directly in your inbox every Friday Morning.

        .five
          input(type="email", placeholder="email address")

    .footer
      footer
        .five
          h3 RayNa Corp

          p We're pretty social.

          p.
            Get tuned in to the best words from industry leaders down to the
            very minute.

          .footer-socialLinks
            a(href="") Twitter
            a(href="", style="margin-left: 1rem;") Facebook

          p © RayNa Corp 2016

          a(href="{{@blog.url}}") {{ @blog.title }}

        .seven
          .footer-siteNav
            a(href="") Blog
            a(href="") #AskRayna
            a(href="") Services
            a(href="") Contact

          .row.footer-cta
            .half
              p Still confused after reading all that?

            .half
              button.btn--secondary() Ask RayNa

          .row.footer-address.u-text-right
              p 320 E Main St. Ste 200
              p Murfreesboro, TN 37130



    | {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    script(type="text/javascript", src="https://code.jquery.com/jquery-1.12.0.min.js")

    | {{!-- Ghost outputs important scripts and data with this tag --}}
    | {{ghost_foot}}
    | {{!-- Fitvids makes video embeds responsive and awesome --}}
    script(type="text/javascript", src="{{asset 'js/jquery.fitvids.js'}}")

    | {{!-- The main JavaScript file for Casper --}}
    script(type="text/javascript", src="{{asset 'js/index.js'}}")
