| {{!< default}}
| {{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
| 
| {{!-- The big featured header --}}
| {{!-- @blog.cover - string, cover image url--}}
| {{!-- @blog.url - string --}}
| {{!-- @blog.logo - string, logo url --}}
| {{!-- @blog.title - string --}}
| {{!-- @blog.navigation - boolean? --}}
| {{!-- @blog.description - string --}}
| {{!-- {{> "loop" }} - main post summary loop --}}
| 
| {{!-- Samples: --}}
| 
| {{!-- <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}"> --}}
| {{!-- </header> --}}
| {{!-- {{#if @blog.navigation}} --}}
|     {{!-- <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a> --}}
| {{!-- {{/if}} --}}
| 
| {{!-- The main content area on the homepage --}}

main#content.content(role="main")
  .indexHeader.white.hasBg(style="background-image: url('{{ asset 'index-banner.jpg' }}');")
    header
      //-p.bigQuote “
      h1.half  We build efficiency and accelerate business growth.

  .indexLead.primaryBg-shade.white
    section.collapse
      h2.white.half.
        We’re productivity experts. Want to know what we know?

      .half
        //button.btn--secondary.btn--emboss.btn--fullWidth(style="margin-top: 16px;") #AskRayNa
        a(href="/contact-us")
          button.btn--askRayna.btn--secondary.btn--emboss.btn--fullWidth(style="margin-top: 32px;") #AskRayNa
          //- not buffered
          //- button.btn--secondary.btn--emboss.btn--fullWidth(style="margin-top: 32px;")
              | <svg style="vertical-align: middle;" width="295px" height="36px" viewBox="19 20 295 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              |    <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
              |    <desc>Created with Sketch.</desc>
              |    <defs>
              |        <text id="text-1" font-family="Lora-Bold, Lora" font-size="28" font-weight="bold" letter-spacing="-0.709333301">
              |            <tspan x="99.8150467" y="48">Ask RayNa</tspan>
              |        </text>
              |        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
              |            <feGaussianBlur stdDeviation="0.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              |            <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              |            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              |            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
              |        </filter>
              |        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
              |            <feGaussianBlur stdDeviation="0.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              |            <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              |            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              |            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
              |        </filter>
              |    </defs>
              |    <g id="Ask-RayNa" stroke="none" fill="none">
              |        <use fill="#63768D " fill-rule="evenodd" xlink:href="#text-1"></use>
              |        <use fill="#63768D " fill-opacity="1" filter="url(#filter-2)" xlink:href="#text-1"></use>
              |        <use fill="#63768D " fill-opacity="1" filter="url(#filter-3)" xlink:href="#text-1"></use>
              |    </g>
              | </svg>
        p.caption It's really simple.


  section
    .whole
      p.annotation What we’re about.

    .half
      h1.colorPrimary We meet you where you are.

      p.bodyCopy--large.
        As efficiency experts, we help you make money faster, easier and smarter.
        We create systems for optimal growth, or maximize pre-existing ones.

      a(href="/services")
        p.colorPrimary.bodyCopy--large Learn more &gt;&gt;

    .half
      img.contentImg(src="{{ asset 'service-lead.jpg' }}")



  .indexIntro.secondaryBg-shade.white
    section
      h2 See what everyone is yappin’ about.

      .white
        #testimonial-slider
          .slide(ref="slide")
            h3 \{ testimonials[activeIndex].author }
            //p.bodyCopy--large CEO & Co-Founder, Chrometa
            p \{ testimonials[activeIndex].content }

  section
    .whole
      p.annotation What we're talking about.

    #featuredPost
      .loading(v-if="loading")
        p loading

      .loaded(v-else)
        a.postinner(v-if="post", :href="post.url")
          .half
            img.contentImg(v-if="post.image", :src="post.image")
            img.contentImg(v-else, src="{{ asset 'desk-img.jpg' }}")

          .half
              h1.colorPrimary(style="margin-top: 0;") \{ post.title }
              p.bodyCopy--large 11/04/16  •  5 min read
              p.bodyCopy--large.postSummary-excerpt \{ post.html | excerpt }

        p.no-posts(v-else) Nothing here yet. Check back soon.

    #posts.row.postSummaries
      .loading(v-if="loading")
        p loading

      .loaded(v-else)
        .postsinner(v-if="posts.length > 0")
          template(v-for="post in posts")
            a.half( :href="post.url")
              img.contentImg(v-if="post.image", :src="post.image")
              img.contentImg(v-else, src="{{ asset 'desk-img.jpg' }}")

              h3.colorPrimary \{ post.title }
              p.bodyCopy.postSummary-excerpt.
                \{ post.html | excerpt }

              //- p.bodyCopy 11/04/16  •  5 min read
              p.bodyCopy \{ post.published_at | fmatDate } • \{ post.markdown | calcReadTime } min read</p>

        p.no-posts(v-else) Nothing here yet. Check back soon.

script(type="text/javascript").
  ;(function () {
    window.addEventListener('load', function () {

      var slider = new Vue({
        el: "#testimonial-slider",
        data: {
          interval: null,
          intervalTime: 8000,
          activeIndex: 0,
          testimonials: [
            {
              content: "RayNa Corp is our #1 partner in the industry. I've worked with Lori for several years now and she's so great with our clients that we literally consider her a part of our own team (and so do our clients!) I have actually had several tell me that I need to do whatever I need to do to keep Lori around for the long haul.",
              author: 'Brett Owens, CEO & Co-Founder, Chrometa'
            },
            {
              content: "I am extremely pleased with the work done by The Rayna Corporation. From the very beginning we knew that we made the right decision trusting them with our medical record retrieval needs. Their systematic procedures and efficiencies have increased our receiving time from on average of 98 days to 85% of all records being received within 30 days. Rayna’s services have allowed us to settle cases faster and focus on our clients instead of being tangled in the never-ending task of waiting on medical records.",
              author: "Bart Durham Injury Law"
            },
            {
              content: "We have been so impressed with the Rayna Corporation. They have taken the stress and tediousness out of billing and keeping time. We no longer have to worry about clients' invoices, which allows us to focus on other parts of our practice.  They also have been monumental in teaching us how to run our whole practice more smoothly. We get helpful hints and training on a daily basis and they are always available to answer questions. They know everything about Clio, Xero, Chrometa, and tons of other programs designed to help you keep time and work more efficiently.  Rayna has been a huge part of the growth of our firm, and we don't know where we'd be without them!",
              author: "LaRoche Law Office"
            },
            {
              content: "I am very happy that RayNa came along to fill a need in my law practice.  Lori is patient, kind, and ever helpful.  I am glad to be able to call her a business partner, but, more importantly, to be able to call her a friend.  I couldn't be happier with my partnership with RayNa.  I trust Lori's experience and applaud her work ethic.  She is helpful, kind, and patient (even when I've asked the same question ten times!).  Glad to be a client of RayNa's.",
              author: "Margaret Brady, Attorney"
            },
            {
              content: "RayNa has been an invaluable resource to me as an attorney moving into Tennessee from out of state and starting a new practice.  Lori has gone out of her way to help me get started here both directly and through introductions.  She is friendly, patient and hard working.  She also understands what is needed and how to achieve the necessary result.  I’m delighted to have worked with Lori and RayNa and highly recommend them.",
              author: "Patrick McMurtray, Attorney"
            },
            {
              content: "We at Greenhouse love our association with RayNa Corporation and Lori Gonzalez, Lori has such a heart to serve others by finding solutions to any situation that might be a barrier to their success.  Lori was very instrumental several years ago in setting up the Free Rutherford/ Cannon County Legal Clinic at Greenhouse and remains available to refresh each host on duties, and keeps legal form files up to date when needed.",
              author: "Jane Sharp Director, Greenhouse Ministries"
            },
            {
              content: "I stumbled across Lori and her services from an online Webinar for timekeeping software.  Immediately she empathized with our small law firm billing and accounting issues—mainly time constraints! Fortunately, I found Lori’s services to be affordable for our small firm, and I hired her to help switch us to a more efficient accounting application. During the transition period, Lori always responded timely to my questions via email and/or by phone call, and regularly kept me apprised of the progress on her end.  Interestingly, I have never met Lori in person and she has never been to our office, because the entire implementation and training process was done seamlessly over the internet!  The fact that her services could be provided via the internet was a big plus in terms of allowing for flexibility based on my availability. I believe Lori’s background, personal experience, and knowledge, enables her to provide a niche service to firms like ours that need advice in choosing and fully implementing the right software and/or applications to help get timekeeping, billing, and accounting issues under control.   She has earned my recommendation.",
              author: "Kathy Crisp Floyd Finch Law Offices Blue Springs, Missouri"
            }
          ]
        },

        delimiters: ['\\{', '}'],

        methods: {
          animateNext: function () {

          }
        },

        mounted: function () {
          var self = this

          self.$nextTick(function () {
            self.interval = setInterval(function () {

              window.TweenLite.to(self.$refs.slide, 0.8, {
                opacity: 0,
                onComplete: function () {
                  self.activeIndex = (self.activeIndex + 1) % self.testimonials.length

                  window.TweenLite.to(self.$refs.slide, 0.8, {
                    opacity: 1
                  })
                }
              })
            }, self.intervalTime)
          })
        },

        beforeDestroy: function () {
          clearInterval(this.interval)
        }
      });

      var featured = new Vue({
        el: "#featuredPost",

        data: {
          loading: false,
          post: null
        },

        delimiters: ['\\{', '}'],
      });

      var posts = new Vue({
        el: "#posts",

        data: {
          posts: [],
          loading: false
        },

        delimiters: ['\\{', '}'],
      });

      var featuredUrl = ghost.url.api('posts', { filter: 'featured:true' } );
      console.log(featuredUrl)

      fetch(featuredUrl)
      .then(window.rayna.checkstatus)
      .then(window.rayna.parseJSON)
      .then(function (body) {
        featured.post = body.posts[0]
      })
      .catch(function (err) {
        console.error(err)
      })

      var postsUrl = ghost.url.api('posts', { filter: 'featured:false', limit: 2 })

      fetch(postsUrl)
      .then(window.rayna.checkstatus)
      .then(window.rayna.parseJSON)
      .then(function (body) {
        posts.posts = body.posts || []
      })
      .catch(function (err) {
        console.error(err)
      })

    });
  })();
