| {{!< default}}
| {{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
| 
| {{!-- The big featured header --}}
| {{!-- @blog.cover - string, cover image url--}}
| {{!-- @blog.url - string --}}
| {{!-- @blog.logo - string, logo url --}}
| {{!-- @blog.title - string --}}
| {{!-- @blog.navigation - boolean? --}}
| {{!-- @blog.description - string --}}
| {{!-- {{> "loop" }} - main post summary loop --}}
| 
| {{!-- Samples: --}}
| 
| {{!-- <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}"> --}}
| {{!-- </header> --}}
| {{!-- {{#if @blog.navigation}} --}}
|     {{!-- <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a> --}}
| {{!-- {{/if}} --}}
| 
| {{!-- The main content area on the homepage --}}

main#content.content(role="main")
  .indexHeader.colorPrimary
    header
      p.bigQuote “
      h1.half  We build efficiency and accelerate business growth.

    //| {{> "loop"}}

  .indexLead.primaryBg-shade.white
    section.collapse
      h2.white.half.
        We’re productivity experts. Want to know what we know?

      .half
        //button.btn--secondary.btn--emboss.btn--fullWidth(style="margin-top: 16px;") #AskRayNa
        button.btn--secondary.btn--emboss.btn--fullWidth(style="margin-top: 32px;")
            | <svg style="vertical-align: middle;" width="295px" height="36px" viewBox="19 20 295 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            |    <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
            |    <desc>Created with Sketch.</desc>
            |    <defs>
            |        <text id="text-1" font-family="Lora-Bold, Lora" font-size="28" font-weight="bold" letter-spacing="-0.709333301">
            |            <tspan x="99.8150467" y="48">Ask RayNa</tspan>
            |        </text>
            |        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
            |            <feGaussianBlur stdDeviation="0.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
            |            <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
            |            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            |            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
            |        </filter>
            |        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
            |            <feGaussianBlur stdDeviation="0.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
            |            <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
            |            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            |            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
            |        </filter>
            |    </defs>
            |    <g id="Ask-RayNa" stroke="none" fill="none">
            |        <use fill="#63768D " fill-rule="evenodd" xlink:href="#text-1"></use>
            |        <use fill="#63768D " fill-opacity="1" filter="url(#filter-2)" xlink:href="#text-1"></use>
            |        <use fill="#63768D " fill-opacity="1" filter="url(#filter-3)" xlink:href="#text-1"></use>
            |    </g>
            | </svg>
        p.caption It's really simple.


  section
    .whole
      p.annotation What we’re about.

    .half
      h1.colorPrimary We meet you where you are.

      p.bodyCopy--large.
        As efficiency experts, we help you make money faster, easier and smarter.
        We create systems for optimal growth, or maximize pre-existing ones.

      p.colorPrimary.bodyCopy--large
        a Learn more &gt;&gt;

    .half
      img.contentImg(src="http://placehold.it/450x300")



  .indexIntro.secondaryBg-shade.white
    section
      .half
        h2 See what everyone is yappin’ about.

      .half.white
        h3 Brett Owens
        p.bodyCopy--large CEO & Co-Founder, Chrometa
        p.
          RayNa Corp is our #1 partner in the industry. We literally consider
          them apart of our own team and so do our clients.

  section
    .whole
      p.annotation What we're talking about.

    .half
      img.contentImg(src="http://placehold.it/520x475")

    .half
      h1.colorPrimary Five questions for Law Tech Entrepreneurs
      p.bodyCopy--large 11/04/16  •  5 min read
      p.bodyCopy--large.
        Recently Attorney at Work asked three legal technology entrepreneurs
        — all speakers at this fall’s Clio Cloud Conference…

    .row.postSummaries
      .half
        img.contentImg(src="http://placehold.it/450x300")
        h3.colorPrimary Five questions for Law Tech Entrepreneurs
        p.bodyCopy.
          Recently Attorney at Work asked three legal technology entrepreneurs
          — all speakers at this fall’s Clio Cloud Conference…
        p.bodyCopy 11/04/16  •  5 min read

      .half
        img.contentImg(src="http://placehold.it/450x300")
        h3.colorPrimary Five questions for Law Tech Entrepreneurs
        p.bodyCopy.
          Recently Attorney at Work asked three legal technology entrepreneurs
          — all speakers at this fall’s Clio Cloud Conference…
        p.bodyCopy 11/04/16  •  5 min read
