| {{!< default}}

| {{!-- This is a page template. A page outputs content just like any other post, and has all the same
|     attributes by default, but you can also customise it to behave differently if you prefer. --}}

| {{!-- Everything inside the #post tags pulls data from the page --}}

| {{#post}}

main
  .primaryBg-shade.white.hasBg(style="background-image: url('{{ asset 'services-banner.jpg' }}');")
    header
      //-p.bigQuote “
      h1.whole We're Ready When You Are

      .seven
        p.
          We strive to understand our clients' needs. We go the extra mile to
          meet you where you are. We don't expect you to change your system, we
          work within it to improve the entire system.

        p.
          See below for an overview of our services. Don't see your specific
          needs - reach out and if we can't help you - maybe we know someone
          who can!

  section
    .half
      h1.colorPrimary Our Services

      .serviceGroup
        //-img(src="//placehold.it/400x300")
        h2.colorPrimary Billing
        ul
          li AOC indigent claim entry and fund advancement
          li Remote legal billing
          li Trust Auditing

      .serviceGroup
        //-img(src="//placehold.it/400x300")
        h2.colorPrimary Medical Record Retrieval
        ul
          li Improving of record retrieval process
          li.
            Requesting of records, follow up procedures, and data entry as
            needed

      .serviceGroup
        //-img(src="//placehold.it/400x300")
        h2.colorPrimary Process and Technology Consulting
        ul
          li Practice management software implementation and training
          li Apps/programs you never knew you needed
          li Efficiency audit and refinement


    .half
      h2.colorPrimary(style="margin-top: 144px;").
        Did I mention we’re smart and nerdy about this stuff?  Hire us and
        we’ll work with you to find ways for you to work less and make more
        money.

  .secondaryBg-shade.white
    section
      h1 RayNa's favorites

      .products
        .productGroup.row
          .fourth
            img(src="{{ asset 'clio-logo.jpg' }}")

          .three-fourths
            h3 Clio
            p.
              There are lots of options for practice management and billing
              programs.  Cloud-based options are the most versatile allowing you
              to practice on the go.

        .productGroup.row
          .fourth
            img(style="padding-top: 26px;", src="{{ asset 'casemail-logo.png' }}")

          .three-fourths
            h3 CaseMail
            p.
              CaseMail does for mailing hard documents what e-faxing has done for faxes.
              We at the RayNa Corporation have first-hand knowledge of how the simple,
              mundane tasks of your everyday work life can eat away at your productivity

        .productGroup.row
          .fourth
            img(src="{{ asset 'chrometa-logo.png' }}")

          .three-fourths
            h3 Chrometa
            p.
              What is Chrometa? It is a necessary tool for anyone
              looking to find that “lost” time.  Chrometa tracks time behind
              the scenes every document, webpage, and clickable activity on
              your PC or Mac, while you continue working.

        .productGroup.row
          .fourth
            img(src="{{ asset 'rocket-matter-logo.png' }}")

          .three-fourths
            h3 RocketMatter
            p.
              is a leading cloud-based solution that helps law firms offer
              better client service and also increase revenues by 20%. Founded
              in 2008 as the first cloud-based product on the market, Rocket
              Matter offers an all-in-one legal practice management platform
              with the powerful easy-to-use time and billing software. 

        .productGroup.row
          .fourth
            img(src="{{ asset 'click-to-file-logo.png' }}")

          .three-fourths
            h3 ClicktoFile
            p.
              Clio has options for saving all of your emails on a case-by-case
              basis, but there are several steps to ensuring those emails are
              forwarded into Clio on a regular basis.


        .productGroup.row
          .fourth
            img(src="{{ asset 'law-pay-logo.png' }}")

          .three-fourths
            h3 LawPay
            p.
              In today’s market, everyone pays their bills online - don’t you?
              Not accepting credit cards can actually lose valuable clients.
              If you want to get those larger retainers sooner, lower your
              account receivables, and simply get paid sooner, 

        .productGroup.row
          .fourth
            img(src="{{ asset 'hootsuite-logo.png' }}")

          .three-fourths
            h3 Hootsuite
            p.
              Everyone tells you that social media is a must as a marketing
              tool no matter what type of business you have.  But really - who
              has the time to post, tweet, update and share every day?

      h2.
        These are our fav's because they make us better, faster and save us
        money. We offer lots of services to go along with these items,
        including potential discounts. Let us help you through the process so
        you can be better, faster and spend less too.


| {{/post}}
