| {{!< default}}

main
  .primaryBg-shade.white.hasBg(style="background-image: url('{{ asset 'about-us-banner.jpg' }}');")
    header
      //-p.bigQuote “
      h1.whole Who we are.
      p.seven.
        We are a small group of energetic, know-it-all's who have really walked
        a mile in your shoes. We will meet you where you are, because we
        understand how far of a walk that really is. Our job is simple - take
        over those burdensome, menial tasks so you can focus on the practice of
        law.

  section
    .row
      .portraitGroup.half
        h1 Lori Gonzalez
        img(src="{{ asset 'lori-gonzalez.jpg' }}")
        h2 Co-Founder
        p.
          After  receiving  her  paralegal  certification  in  2002,  Lori
          Gonzalez  worked  in  several  firms  in various  roles,  including
          practice  management  software  training  and  coordination. She  has
          been involved  in  both  state  and  federal  cases  in  many  different
          areas  of  law.  Mrs.  Gonzalez  was  the first  paralegal  in  Nashville
          to  bill  the  federal  government  for  paralegal  time  expended  in
          the representation  of  federal  indigent  defendants.  Her  experience
          in  litigation,  arbitration  and  trial includes construction,
          mechanic’s and materialman’s lien laws, civil rights, immigration, family
          law and personal injury law. Lori’s adaptability, knowledge of current
          technology and ability to evaluate systems are what give her the ability
          to not only work within any system, but to improve its  accuracy  and
          efficiency.   She  spends  her  free  time volunteering  with  pro  bono
          efforts  and enjoying time with her husband and two boys. She currently
          serves on the Tennessee Access For Justice  Commission’s  Pro  Bono
          Committee  and  as  a  small  business  mentor  with Score.    Her
          current passions include legal hacking and what technology will do to
          disrupt the legal field over the next several years.

      .portraitGroup.half
        h1 Melissa Grimes
        img(src="{{ asset 'melissa-grimes.jpg' }}")
        h2 Co-Founder
        p.
          Melissa Grimes has extensive history in managing, implementing and
          running a small business.  In 2004, she began working in a small real
          estate management company that eventually became a multi-state operation
          with assets over 10 million dollars.  She was named chief operations
          officer (the  youngest  female  to  ever  be  named  COO  for a  publicly
          traded  company)  and  worked  in  all aspects  of  the  business.
          While  working  with  legal  counsel  reviewing  contracts  and
          investment agreements, Melissa found her new calling and eventually left
          the company to begin working in a small firm to gain real world
          experience in working within a law firms. She continues to work as
          a  paralegal  in  a  busy  personal  injury  law  firm  while  attending
          law  school.   Melissa’s  keen business sense, experience in management
          and daily business operations, dedication to quality of service  and
          overall  willingness  to  improve  any  system  make  her  a  valuable
          tool  in  the  RayNa arsenal.   In  her  free  time,  Melissa  enjoys
          volunteering  on  the  advisory  board  with  Kaplan University and
          serving as Secretary for the Tennessee State Youth Conference.  She also
          enjoys spending time with her husband and two girls.

      .row
        .portraitGroup.half
          h1 John P. Doyle
          img(src="{{ asset 'john-doyle.jpg' }}")
          h2 Staff
          p.
            John Doyle is a lawyer who has practiced in large, multi-state firm and
            small firm settings and is now semi-retired in solo practice.  He also
            has considerable non-legal experience – supply chain and  plant
            management  in  the  United  States  and  abroad.    His  legal  practice
            has  been  primarily litigation  over  a  wide  range  of  subjects,
            including  copyright  and  patent  infringement,  criminal defense,
            construction,  and  shareholder  derivative  suits.   A  substantial
            part  of  his  time  now  is devoted  to  pro-bono  child  custody
            litigation.    John  has  also  been  active  in  mediation  from  an
            early  stage.    He  was  on  the  Tennessee  Bar  Association  committee
            that  helped  create  the Tennessee  Supreme  Court  guidelines  for
            mediation  (Rule  31).   John  has  a  keen  interest  in  law practice
            innovation  motivated  by strong desire to make things easier  for
            himself.  Towards that end, he actively explores new technology as it
            becomes available.

        .portraitGroup.half
          h1 Treavor Grimes
          img(src="{{ asset 'treavor-headshot.jpg' }}")
          h2 Staff
          p.
            Bio coming soon.

      .row
        .portraitGroup.half
          h1 Taylor Rodas
          img(src="{{ asset 'taylor-headshot.jpg' }}")
          h2 Staff
          p.
            Taylor Rodas joined the team in 2015 to assist with administrative
            tasks and help support RayNa’s IT needs.  A Rutherford County
            native, Mr. Rodas joined the Army National Guard while still in
            high school.  After graduation, he completed training to become an
            Information Technology Specialist and is currently deployed to the
            Middle East as he continues his service in the military.  He hopes
            to continue his education and service in IT, with a strong focus on
            building a future that connects his love of technology with his
            love of service.

        .portraitGroup.half
          h1 Niktorreki "Nikki" Pegues
          img(src="{{ asset 'nikki-headshot.jpg' }}")
          h2 Staff
          p.
            Nikki Pegues joined the company in early 2016 and works in the
            medical records division.  Her experience in healthcare and
            administration fits in perfectly with our clients' needs.  She
            graduated in 2014 from the University of Memphis with a degree in
            Communications.  As a young professional, she made the move from
            Memphis to Murfreesboro to further her career opportunities and to
            allow her young son to experience life in a smaller community.  She
            enjoys spending time with her family and learning new things.

      .row
        .portraitGroup.half
          h1 Krystina Robinson
          img(src="{{ asset 'krystina-headshot.jpg' }}")
          h2 Staff
          p.
            Krystina Robinson recently joined the Rayna team.  She moved from
            Memphis to Murfreesboro in 2012, where she obtained her Associate’s
            in Healthcare Administration from The University of Phoenix and
            a Bachelor’s in Public Health from Middle Tennessee State
            University in 2015. Ms. Robinson loves research and looks forward
            to someday starting her very own nonprofit.  She enjoys spending
            time with family and traveling. Her favorite motto is from Thomas
            Edison: "The first requisite of success is the ability to apply
            your physical and mental energies to one problem without growing
            weary." Success is an accomplishment she intends to conquer.

        .portraitGroup.half
          h1 Charlie Guffey
          img(src="{{ asset 'charlie-guffey.jpg' }}")
          h2 Staff
          p.
            Bio coming soon.

    //.row
      .portraitGroup.half
        h1 Niktorreki “Nikki” Pegues
        img(src="//placehold.it/400x500")
        h2 Staff
        p.
          Nikki Pegues joined the company in early 2016 and works in the
          medical records division.  Her experience in healthcare and
          administration fits in perfectly with our clients’ needs.

    //-
      .portraitGroup.half
        h1 Sharyn Marzullo
        img(src="//placehold.it/400x500")
        h2 Staff
        p.
          Sharyn Marzullo joined the company in May 2016 and brings a wealth of
          experience and knowledge in both the legal field and small business.
          She was a paralegal for 40 years, along with experience in marketing
          for a software developer.

