| {{!< default}}

| {{#post}}
main
  .primaryBg-shade.white
    header
      p.bigQuote “
      h1.whole(style="max-width: 840px;") Take the next step. Let us know what you need.
      p.seven.
        Helping your business maximize production through targeted optimzation
        techniques is our passion - sending us a message to get the ball
        rolling is a perfect start. Please complete the contact form below, and
        let’s start collaborating.

  section
    h1.colorPrimary Contact Us

    .form.colorPrimary(style="padding: 16px;")
      .row
        .inputGroup.half
          label Name
          input.alt

        .inputGroup.half
          label Phone
          input.alt

      .whole.row
        .inputGroup
          label Email
          input.alt

      .whole.row
        .inputGroup
          label Message
          textarea.alt

      .whole.row
        button.secondaryBg-tint.u-pullRight(style="margin-top: 16px;") Say Hey

| {{/post}}
