| {{!< default}}

| {{!-- This is a page template. A page outputs content just like any other post, and has all the same
|     attributes by default, but you can also customise it to behave differently if you prefer. --}}

| {{!-- Everything inside the #post tags pulls data from the page --}}

| {{#post}}

main
  .primaryBg-shade.white
    header
      p.bigQuote “
      .half
        h1 We're Ready When You Are

        p.
          We strive to understand our client’s needs, and 
          we always go the extra mile to meet you where 
          you are. Here is a quick overview of the services 
          we offer to help you.

        p.
          If you don’t see something that resonates with your needs here, be sure to
          reach out to us to get a custom quote.

  section
    .half
      h1.colorPrimary Our Services

      .serviceGroup
        img(src="//placehold.it/400x300")
        h2.colorPrimary Billing
        ul
          li AOC indigent claim entry and fund advancement
          li Remote legal billing
          li Trust Auditing
          li Virtual staff and paralegals

      .serviceGroup
        img(src="//placehold.it/400x300")
        h2.colorPrimary Consulting
        ul
          li Efficiency audit and refinement
          li Practice management software training

      .serviceGroup
        img(src="//placehold.it/400x300")
        h2.colorPrimary Technology
        ul
          li Medical records retrieval and review
          li Practice management software implementation

    .half
      h2.colorPrimary.
        Did I mention we’re smart and nerdy about this stuff?  Hire us and
        we’ll work with you to find ways for you to make more money and
        impress your board.

  .secondaryBg-shade.white
    section
      h1 What We Use
      h2.
        Please consider this an endorsement of these products. They’re our
        favorites, after all.

      .products
        .productGroup.row
          .fourth
            img(src="//placehold.it/150x150")

          .three-fourths
            h3 Clio
            p.
              There are lots of options for practice management and billing
              programs.  Cloud-based options are the most versatile allowing you
              to practice on the go.

        .productGroup.row
          .fourth
            img(src="//placehold.it/150x150")

          .three-fourths
            h3 CaseMail
            p.
              does for mailing hard documents what e-faxing has done for faxes.
              We at the RayNa Corporation have first-hand knowledge of how the simple,
              mundane tasks of your everyday work life can eat away at your productivity

        .productGroup.row
          .fourth
            img(src="//placehold.it/150x150")

          .three-fourths
            h3 Chrometa
            p.
              What is Chrometa? It is a necessary tool for anyone
              looking to find that “lost” time.  Chrometa tracks time behind
              the scenes every document, webpage, and clickable activity on
              your PC or Mac, while you continue working.

        .productGroup.row
          .fourth
            img(src="//placehold.it/150x150")

          .three-fourths
            h3 RocketMatter
            p.
              is a leading cloud-based solution that helps law firms offer
              better client service and also increase revenues by 20%. Founded
              in 2008 as the first cloud-based product on the market, Rocket
              Matter offers an all-in-one legal practice management platform
              with the powerful easy-to-use time and billing software. 

        .productGroup.row
          .fourth
            img(src="//placehold.it/150x150")

          .three-fourths
            h3 ClicktoFile
            p.
              Clio has options for saving all of your emails on a case-by-case
              basis, but there are several steps to ensuring those emails are
              forwarded into Clio on a regular basis.


        .productGroup.row
          .fourth
            img(src="//placehold.it/150x150")

          .three-fourths
            h3 LawPay
            p.
              In today’s market, everyone pays their bills online - don’t you?
              Not accepting credit cards can actually lose valuable clients.
              If you want to get those larger retainers sooner, lower your
              account receivables, and simply get paid sooner, 

        .productGroup.row
          .fourth
            img(src="//placehold.it/150x150")

          .three-fourths
            h3 Hootsuite
            p.
              Everyone tells you that social media is a must as a marketing
              tool no matter what type of business you have.  But really - who
              has the time to post, tweet, update and share every day?

      h2.
        These are our fav’s because they make us better at what we do faster
        and for less money. We offer consultation, installation, and training
        for many of these tools so you can be faster and spend less, too. 


| {{/post}}
