| {{!< default}}

| {{#post}}

| {{#if image }}
| <div class="bgWrap" style="background-size: cover; background-image: url({{ image }});">
| {{else }}
| <div class="bgWrap" style="background-size: cover; background-image: url('/assets/desk-img.jpg');">
| {{/if }}

.blackGradientMask
  .articleHeader.white
    header
      h1.half {{ title }}

| </div> <!-- /bgWrap -->

.articleContent.black
  article
    | {{ content }}

hr
.container.row
  .half
    p Recent Posts

  .half
    p.u-text-right
      a(href="/blog") More Posts &gt;&gt;

section
  | {{#prev_post}}
  a(href="{{url}}")
    .half
      | {{#if image}}
      img(src="{{ image }}")
      | {{else}}
      img(src="{{ asset 'desk-img.jpg' }}")
      | {{/if}}
      h3 {{ title }}
      p {{ excerpt words="20" }} &hellip;
      p 11/04/16 • 5 min read
  | {{/prev_post}}

  | {{#next_post}}
  a(href="{{url}}")
    .half
      | {{#if image}}
      img(src="{{ image }}")
      | {{else}}
      img(src="{{ asset 'desk-img.jpg' }}")
      | {{/if}}
      h3 {{ title }}
      p {{ excerpt words="20" }} &hellip;
      p 11/04/16 • 5 min read
  | {{/next_post}}

| {{/post}}
