
{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
 
{{!-- The big featured header --}}
{{!-- @blog.cover - string, cover image url--}}
{{!-- @blog.url - string --}}
{{!-- @blog.logo - string, logo url --}}
{{!-- @blog.title - string --}}
{{!-- @blog.navigation - boolean? --}}
{{!-- @blog.description - string --}}
{{!-- {{> "loop" }} - main post summary loop --}}
 
{{!-- Samples: --}}
 
{{!-- <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}"> --}}
{{!-- </header> --}}
{{!-- {{#if @blog.navigation}} --}}
    {{!-- <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a> --}}
{{!-- {{/if}} --}}
 
{{!-- The main content area on the homepage --}}
<main class="content" id="content" role="main">
  <div class="indexHeader white hasBg" style="background-image: url('{{ asset 'index-banner.jpg' }}')">
    <header>
      <h1 class="half"> We build efficiency and accelerate business growth.</h1>
    </header>
  </div>
  <div class="indexLead primaryBg-shade white">
    <section class="collapse">
      <h2 class="white half">
        We’re productivity experts. Want to know what we know?
        
      </h2>
      <div class="half">
        <!--button.btn--secondary.btn--emboss.btn--fullWidth(style="margin-top: 16px;") #AskRayNa--><a href="/contact-us">
          <button class="btn--askRayna btn--secondary btn--emboss btn--fullWidth" style="margin-top: 32px">#AskRayNa</button></a>
        <p class="caption">It's really simple.</p>
      </div>
    </section>
  </div>
  <section>
    <div class="whole">
      <p class="annotation">What we’re about.</p>
    </div>
    <div class="half">
      <h1 class="colorPrimary">We meet you where you are.</h1>
      <p class="bodyCopy--large">
        As efficiency experts, we help you make money faster, easier and smarter.
        We create systems for optimal growth, or maximize pre-existing ones.
        
      </p><a href="/services">
        <p class="colorPrimary bodyCopy--large">Learn more &gt;&gt;</p></a>
    </div>
    <div class="half"><img class="contentImg" src="http://placehold.it/450x300"/></div>
  </section>
  <div class="indexIntro secondaryBg-shade white">
    <section>
      <div class="half">
        <h2>See what everyone is yappin’ about.</h2>
      </div>
      <div class="half white">
        <h3>Brett Owens</h3>
        <p class="bodyCopy--large">CEO & Co-Founder, Chrometa</p>
        <p>
          RayNa Corp is our #1 partner in the industry. We literally consider
          them apart of our own team and so do our clients.
          
        </p>
      </div>
    </section>
  </div>
  <section>
    <div class="whole">
      <p class="annotation">What we're talking about.</p>
    </div>
    <div id="featuredPost"><a class="postinner" v-if="post" :href="post.url">
        <div class="half"><img class="contentImg" :src="post.image || 'http://placehold.it/520x475'"/></div>
        <div class="half">
          <h1 class="colorPrimary">{{ post.title }}</h1>
          <p class="bodyCopy--large">11/04/16  •  5 min read</p>
          <p class="bodyCopy--large">
            Recently Attorney at Work asked three legal technology entrepreneurs
            — all speakers at this fall’s Clio Cloud Conference…
            
          </p>
        </div></a>
      <div class="loading" v-else="v-else">
        <p>loading</p>
      </div>
    </div>
    <div class="row postSummaries" id="posts">
      <div class="postsinner" v-if="posts.length &gt; 0">
        <template v-for="post in posts"><a class="half" :href="post.url"><img class="contentImg" :src="post.image || 'http://placehold.it/450x300'"/>
            <h3 class="colorPrimary">\{ post.title }</h3>
            <p class="bodyCopy">\{ post.html | excerpt }</p>
            <!--p.bodyCopy 11/04/16  •  5 min read-->
            <p class="bodyCopy">\{ post.published_at | fmatDate } • \{ post.markdown | calcReadTime } min read</p></p></a></template>
        <!--.half
        //img.contentImg(src="http://placehold.it/450x300")
        //h3.colorPrimary Five questions for Law Tech Entrepreneurs
        //p.bodyCopy.
          //Recently Attorney at Work asked three legal technology entrepreneurs
          //— all speakers at this fall’s Clio Cloud Conference…
        //p.bodyCopy 11/04/16  •  5 min read
        
        -->
      </div>
      <div class="loading" v-else="v-else">
        <p>loading</p>
      </div>
    </div>
  </section>
</main>
<script type="text/javascript">
  ;(function () {
    window.addEventListener('load', function () {
  
      var featured = new Vue({
        el: "#featuredPost",
  
        data: {
          post: null
        },
  
        delimiters: ['\\{', '}'],
  
        mounted: function () {}
      });
  
      var posts = new Vue({
        el: "#posts",
  
        data: {
          posts: [],
          loading: false
        },
  
        delimiters: ['\\{', '}'],
      });
  
      var featuredUrl = ghost.url.api('posts', { filter: 'featured:true' } );
      console.log(featuredUrl)
  
      fetch(featuredUrl)
      .then(window.rayna.checkstatus)
      .then(window.rayna.parseJSON)
      .then(function (body) {
        featured.post = body.posts[0]
      })
      .catch(function (err) {
        console.error(err)
      })
  
      var postsUrl = ghost.url.api('posts', { filter: 'featured:false', limit: 2 })
  
      fetch(postsUrl)
      .then(window.rayna.checkstatus)
      .then(window.rayna.parseJSON)
      .then(function (body) {
        posts.posts = body.posts || []
      })
      .catch(function (err) {
        console.error(err)
      })
  
    });
  })();
</script>