{{!< default}}
<main>
  <div class="primaryBg-shade white hasBg" style="background-image: url('{{ asset 'blog-banner.jpg' }}')">
    <header>
      <h1 class="whole">Let us give you the gift of knowledge.</h1>
      <p class="seven">
        We are firm believers in sharing information freely. We learned the
        hard way, so you don't have to! Read our blog to lessen you workload.
        
      </p>
    </header>
  </div>
  <section>
    <p class="annotation">What we're talking about.</p>
    <div id="posts"><img src="/assets/loading.gif" style="width: 40px; height: 40px; margin: 0 auto; display: block"/></div>
  </section>
</main>
<script id="template-posts-summary" type="text/x-template">
  <div> <!-- wrap -->
    <img id="loading"
      v-if="loading"
      style=" width: 40px; height: 40px; margin: 0 auto; display: block;"
      src="/assets/loading.gif">
  
    <div class="postSummaries">
      <div class="featuredPost" v-if="featuredPost">
          <a :href="featuredPost.url">
            <div class="featuredPost-image">
              <img v-if="featuredPost.image"  :src="featuredPost.image" />
              <img v-else src="/assets/desk-img.jpg" />
            </div>
  
            <h2> \{ featuredPost.title } </h2>
            </a>
  
        <div class="featuredPost-excerpt">
          \{ featuredPost.html | excerpt }
        </div>
  
        <p class="featuredPost-date"> \{ featuredPost.published_at | fmatDate } • \{ featuredPost.markdown | calcReadTime } min read</p>
      </div>
  
      <hr />
  
      <div class="container row">
        <div class="half">
          <p> Recent Posts </p>
        </div>
      </div>
  
      <template v-for="post, n in posts">
        <div class="postSummary row">
          <a :href="post.url">
            <div class="postSummary-image half">
              <img v-if="post.image"  :src="post.image" />
              <img v-else src="/assets/desk-img.jpg" />
            </div>
  
            <div class="postSummary-copy half">
              <h2 class="postSummary-title"> \{ post.title } </h2>
  
              <div class="postSummary-excerpt">
                \{ post.html | excerpt }
              </div>
              <p class="postSummary-date"> \{ post.published_at | fmatDate } • \{ post.markdown | calcReadTime } min read</p>
            </div>
          </a>
  
        </div>
      </template>
  
      <div class="postsPagination row" v-if="pagination">
        <a class="half" @click="getPrev" v-if="pagination.prev"> Prev </a>
        <a class="half u-pullRight u-text-right" @click="getNext" v-if="pagination.next"> Next </a>
      </div>
    </div><!-- .postSummaries -->
  </div>
  
</script>
<script type="text/javascript">
  ;(function () {
  
    window.addEventListener("load", function () {
      var posts = new Vue({
        el: '#posts',
        template: '#template-posts-summary',
  
        data: {
          loading: false,
          error: null,
          featuredPost: null,
          posts: [],
          pagination: null
        },
  
        methods: {
          getNext: function getNext () {
            this.getPosts({ page: this.pagination.next })
          },
  
          getPrev: function getPrev () {
            this.getPosts({ page: this.pagination.prev })
          },
  
          getPosts: function getPosts (opts) {
            opts = opts || {};
            if (opts.limit === void 0) opts.limit = 5;
  
            var url = ghost.url.api('posts', opts);
  
            var self = this;
  
            self.error = null;
  
            self.loading = true;
  
            fetch(url)
              .then(window.rayna.checkStatus)
              .then(window.rayna.parseJSON)
              .then(function (body) {
                self.pagination = body.meta.pagination;
  
                self.loading = false;
  
                self.posts = [];
  
                body.posts.forEach(function (post) {
                  if (post.featured) self.featuredPost = post;
                  else self.posts.push(post);
                })
              })
              .catch(function (err) {
                self.loading = false;
  
                this.error = {
                  message: "Something went sideways. Try refreshing the page!"
                };
              });
          }
        },
  
        mounted: function mounted () {
          this.getPosts();
        },
  
        delimiters: ['\\{', '}'],
      });
    });
  })();
</script>