
{{!< default}}
{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}
{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main>
  <div class="primaryBg-shade black hasBg" style="background-image: url('{{ asset 'services-banner.jpg' }}')">
    <header>
      <p class="bigQuote">“</p>
      <h1 class="whole">We're Ready When You Are</h1>
      <div class="seven">
        <p>
          We strive to understand our client’s needs, and 
          we always go the extra mile to meet you where 
          you are. Here is a quick overview of the services 
          we offer to help you.
          
        </p>
        <p>
          If you don’t see something that resonates with your needs here, be sure to
          reach out to us to get a custom quote.
          
        </p>
      </div>
    </header>
  </div>
  <section>
    <div class="half">
      <h1 class="colorPrimary">Our Services</h1>
      <div class="serviceGroup"><img src="//placehold.it/400x300"/>
        <h2 class="colorPrimary">Billing</h2>
        <ul>
          <li>AOC indigent claim entry and fund advancement</li>
          <li>Remote legal billing</li>
          <li>Trust Auditing</li>
          <li>Virtual staff and paralegals</li>
        </ul>
      </div>
      <div class="serviceGroup"><img src="//placehold.it/400x300"/>
        <h2 class="colorPrimary">Consulting</h2>
        <ul>
          <li>Efficiency audit and refinement</li>
          <li>Practice management software training</li>
        </ul>
      </div>
      <div class="serviceGroup"><img src="//placehold.it/400x300"/>
        <h2 class="colorPrimary">Technology</h2>
        <ul>
          <li>Medical records retrieval and review</li>
          <li>Practice management software implementation</li>
        </ul>
      </div>
    </div>
    <div class="half">
      <h2 class="colorPrimary">
        Did I mention we’re smart and nerdy about this stuff?  Hire us and
        we’ll work with you to find ways for you to make more money and
        impress your board.
        
      </h2>
    </div>
  </section>
  <div class="secondaryBg-shade white">
    <section>
      <h1>What We Use</h1>
      <h2>
        Please consider this an endorsement of these products. They’re our
        favorites, after all.
        
      </h2>
      <div class="products">
        <div class="productGroup row">
          <div class="fourth"><img src="//placehold.it/150x150"/></div>
          <div class="three-fourths">
            <h3>Clio</h3>
            <p>
              There are lots of options for practice management and billing
              programs.  Cloud-based options are the most versatile allowing you
              to practice on the go.
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="//placehold.it/150x150"/></div>
          <div class="three-fourths">
            <h3>CaseMail</h3>
            <p>
              does for mailing hard documents what e-faxing has done for faxes.
              We at the RayNa Corporation have first-hand knowledge of how the simple,
              mundane tasks of your everyday work life can eat away at your productivity
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="//placehold.it/150x150"/></div>
          <div class="three-fourths">
            <h3>Chrometa</h3>
            <p>
              What is Chrometa? It is a necessary tool for anyone
              looking to find that “lost” time.  Chrometa tracks time behind
              the scenes every document, webpage, and clickable activity on
              your PC or Mac, while you continue working.
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="//placehold.it/150x150"/></div>
          <div class="three-fourths">
            <h3>RocketMatter</h3>
            <p>
              is a leading cloud-based solution that helps law firms offer
              better client service and also increase revenues by 20%. Founded
              in 2008 as the first cloud-based product on the market, Rocket
              Matter offers an all-in-one legal practice management platform
              with the powerful easy-to-use time and billing software. 
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="//placehold.it/150x150"/></div>
          <div class="three-fourths">
            <h3>ClicktoFile</h3>
            <p>
              Clio has options for saving all of your emails on a case-by-case
              basis, but there are several steps to ensuring those emails are
              forwarded into Clio on a regular basis.
              
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="//placehold.it/150x150"/></div>
          <div class="three-fourths">
            <h3>LawPay</h3>
            <p>
              In today’s market, everyone pays their bills online - don’t you?
              Not accepting credit cards can actually lose valuable clients.
              If you want to get those larger retainers sooner, lower your
              account receivables, and simply get paid sooner, 
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="//placehold.it/150x150"/></div>
          <div class="three-fourths">
            <h3>Hootsuite</h3>
            <p>
              Everyone tells you that social media is a must as a marketing
              tool no matter what type of business you have.  But really - who
              has the time to post, tweet, update and share every day?
              
            </p>
          </div>
        </div>
      </div>
      <h2>
        These are our fav’s because they make us better at what we do faster
        and for less money. We offer consultation, installation, and training
        for many of these tools so you can be faster and spend less, too. 
        
        
      </h2>
    </section>
  </div>
</main>{{/post}}