
{{!< default}}
{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}
{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main>
  <div class="primaryBg-shade white">
    <header>
      <h1 class="whole">First time here?</h1>
      <p class="seven">
        Here's some good introductory info to get you acquainted with what we do.
        
      </p>
    </header>
  </div>
  <article class="{{ post_class }}">
    <div class="row">
      <div class="whole postContent">{{ content }}</div>
    </div>
  </article>
</main>{{/post}}