
{{!< default}}
{{#post}}
<main>
  <div class="primaryBg-shade white hasBg" style="background-image: url('{{ asset 'contact-banner.jpg' }}')">
    <header>
      <p class="bigQuote">“</p>
      <h1 class="whole" style="max-width: 840px">Take the next step. Let us know what you need.</h1>
      <p class="seven">
        Helping your business maximize production through targeted optimzation
        techniques is our passion - sending us a message to get the ball
        rolling is a perfect start. Please complete the contact form below, and
        let’s start collaborating.
        
      </p>
    </header>
  </div>
  <section>
    <h1 class="colorPrimary">Contact Us</h1>
    <div class="form colorPrimary" style="padding: 16px">
      <div class="row">
        <div class="inputGroup half">
          <label>Name</label>
          <input class="alt"/>
        </div>
        <div class="inputGroup half">
          <label>Phone</label>
          <input class="alt"/>
        </div>
      </div>
      <div class="whole row">
        <div class="inputGroup">
          <label>Email</label>
          <input class="alt"/>
        </div>
      </div>
      <div class="whole row">
        <div class="inputGroup">
          <label>Message</label>
          <textarea class="alt"></textarea>
        </div>
      </div>
      <div class="whole row">
        <button class="secondaryBg-tint u-pullRight" style="margin-top: 16px">Say Hey</button>
      </div>
    </div>
  </section>
</main>{{/post}}