{{!< default}}
<main>
  <div class="primaryBg-shade white">
    <header>
      <h1>Who we are.</h1>
      <p>
        We’re RayNa Corporation. We’re a small group of energetic know it alls
        that have totally been there. We’re exactly who you didn’t know you
        needed. We’ll meet you in the middle, because that’s what we’d want you
        to do for us.
        
      </p>
    </header>
  </div>
  <section>
    <div class="row">
      <div class="portraitGroup half">
        <h1>Lori Gonzalez</h1><img src="//placehold.it/400x500"/>
        <h2>Co-Founder</h2>
        <p>
          However, You may aggregate the Package with respect to end users in
          the operation of nuclear facilities, aircraft navigation,
          communication systems, or air traffic control machines in which case
          the provisions set forth in this Agreement .
          
        </p>
      </div>
      <div class="portraitGroup half">
        <h1>Melissa Grimes</h1><img src="//placehold.it/400x500"/>
        <h2>Co-Founder</h2>
        <p>
          Melissa Grimes has extensive history in managing, implementing and
          running a small business.  In 2004, she began working in a small real
          estate management company that eventually became a multi state
          operation with assets over
          10 million dollars.
          
        </p>
      </div>
    </div>
    <div class="row">
      <div class="portraitGroup half">
        <h1>Niktorreki “Nikki” Pegues</h1><img src="//placehold.it/400x500"/>
        <h2>Staff</h2>
        <p>
          Nikki Pegues joined the company in early 2016 and works in the
          medical records division.  Her experience in healthcare and
          administration fits in perfectly with our clients’ needs.
          
        </p>
      </div>
      <div class="portraitGroup half">
        <h1>Sharyn Marzullo</h1><img src="//placehold.it/400x500"/>
        <h2>Staff</h2>
        <p>
          Sharyn Marzullo joined the company in May 2016 and brings a wealth of
          experience and knowledge in both the legal field and small business.
          She was a paralegal for 40 years, along with experience in marketing
          for a software developer.
        </p>
      </div>
    </div>
  </section>
</main>